<h1>Editar Autor</h1>

<%= form_with(model: @author, local: true) do |form| %>
  <div class="field">
    <%= form.label :name, 'Nome' %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Atualizar' %>
  </div>
<% end %>

<%= link_to 'Voltar', authors_path %>